@use 'color';
@use 'mixins';


.boat {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 100px;
  transform-origin: bottom;
  animation: boatMove 3s ease-in-out infinite alternate;
  @include mixins.boat-animation; // Include the mixin here

  .boat-body {
    width: 200px;
    height: 60px;
    background: color.$boat;
    border-radius: 0 0 50% 50%;
  }

  .boat-sail {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid color.$boat;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
}
