@mixin boat-animation {
    @keyframes boatMove {
      0% {
        transform: translateX(-50%) scale(1) rotate(0deg);
      }
      100% {
        transform: translateX(-50%) scale(1.1) rotate(5deg);
      }
    }
  }
  