@use 'color';

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}