@use 'color';

.ocean {
  width: 100%;
  height: 40%;
  background: color.$ocean;
  position: relative;
  overflow: hidden;

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 70%);
    animation: wave 1.5s ease-in-out infinite alternate;
  }
}
