@use 'color';

.sky {
  width: 100%;
  height: 60%;
  background: color.$sky;
  position: relative;
}

.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.stars::before {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  height: 2px;
  background: color.$star;
}

.moon {
  position: absolute;
  width: 80px;
  height: 80px;
  background: color.$moon;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  box-shadow: 0 0 50px 30px color.$moon;
}
